<ul class="collection">
  <li [class.selected]="video.id === selectedVideo?.id" (click)="selectVideo(video)" class="collection-item" *ngFor="let video of videoList">
    <app-preview [video]="video"></app-preview>
  </li>
</ul>
