<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">Stat Tracker</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/dashboard">Dashboard</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
