<div class="row">
  <div class="col s4">
    <app-video-list [videoList]="videoList | async" [selectedVideo]="selectedVideo" (videoSelected)="setVideo($event)"></app-video-list>
  </div>
  <div class="col s4">
    <app-video-player [video]="selectedVideo"></app-video-player>
  </div>
  <div class="col s4">
    <app-stat-filters></app-stat-filters>
  </div>
</div>
